body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  /* 0rem -> no scroll bars */
  overflow: hidden;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
  z-index: 3;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 3;
}
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(200px);
}

#blob {
  background-color: white;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  /* mouse is now center of blob */
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
}

@keyframes rotate {
  from {
    rotate: 0 deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
